.libraryPage {
  width: 335px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .libraryPage {
    width: 704px;
    /* padding: 32px; */
  }
}
@media screen and (min-width: 1440px) {
  .libraryPage {
    width: 1216px;
    flex-direction: row;
    gap: 16px;
  }
}
