.recommPage {
  width: 375px;
  /* padding: 20px; */
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .recommPage {
    width: 768px;
    /* padding: 32px; */
  }
}
@media screen and (min-width: 1440px) {
  .recommPage {
    width: 1280px;
  }
}
