.dashboard {
  background-color: #1f1f1f;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  padding: 20px;
  /* margin: 0 auto; */
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .dashRecom {
  display: flex;
  flex-direction: column;
} */
@media screen and (min-width: 768px) {
  .dashboard {
    padding: 32px;
    width: 704px;
    height: 336px;
    flex-direction: row;
  }
  .dashRecom {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .dashboard {
    /* padding: 40px 20px 20px 20px; */
    width: 353px;
    flex-direction: column;
    height: 651px;
  }
  .dashRecom {
    display: flex;
    flex-direction: column;
  }
}
