.registrCont {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 375px;
}
.contFirst {
  width: 100%;
  height: 411px;
  background-color: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
}
.contSecond {
  background-color: #1f1f1f;
  display: flex;
  height: 351px;
  background-image: image-set(
    url("/src/img/iPhone-mob-x2.png") 2x,
    url("/src/img/iPhone-mob-x1.png") 1x
  );
  background-position: center bottom;
  background-repeat: no-repeat;
  border-radius: 30px;
}
.logo {
  max-height: 17px;
  width: 42px;
}
.logoImg {
  max-height: 17px;
  width: 42px;
  padding-right: 4px;
}
.logoText {
  display: none;
}
.contForm {
  padding-top: 40px;
}
.title {
  padding-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.formBtn {
  width: 140px;
}
.formBtnLog {
  width: 131px;
}
.formBtn:hover,
.formBtnLog:hover {
  background-color: transparent;
  color: #f9f9f9;
  border: 1px solid #f9f9f933;
}
.formLink {
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.formLinkLog {
  padding-top: 72px;
}
.inputWrapp {
  position: relative;
}
.iconPassw {
  position: absolute;
  right: 16px;
  top: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputError {
  border: 1px solid #e90516;
}
.inputSuccess {
  border: 1px solid #30b94d;
}
.errorText {
  position: absolute;
  top: 100%;
  left: 14px;
  color: #e90516;
  font-size: 10px;
}
.successMessage {
  color: #30b94d;
}
@media screen and (max-width: 374px) {
  .registrCont {
    width: 100%;
  }
  .contFirst {
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .registrCont {
    padding: 32px;
    width: 768px;
  }
  .contFirst {
    height: 960px;
    padding: 40px 64px;
  }
  .contSecond {
    display: none;
  }
  .logo {
    width: 182px;
  }
  .logoText {
    display: inline;
    max-height: 17px;
    width: 136px;
  }
}
@media screen and (min-width: 1440px) {
  .registrCont {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 1280px;
  }
  .contFirst {
    width: 600px;
    height: 736px;
  }
  .contSecond {
    height: 736px;
    width: 600px;
    display: flex;
    background-image: image-set(
      url("/src/img/iPhone-desc-x2.png") 2x,
      url("/src/img/iPhone-desc-x1.png") 1x
    );
  }
}
