#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: start;
}

@font-face {
  font-family: "Gilroy";
  font-weight: medium;
  font-weight: 500;
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy";
  font-weight: bolt;
  font-weight: 700;
  src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
}
