:root {
  font-family: Gilroy;
  line-height: 1.5;
  font-weight: medium;

  color-scheme: light dark;
  background-color: #141414;
  color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  line-height: 32px;
  leter-spancing: 2%;
}
h1,
h2,
h3,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 60px;
  }
}
