:root {
  font-family: Gilroy;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  background-color: #141414;
  color: #f9f9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 32px;
  line-height: 32px;
}
h1,
h2,
h3,
h4,
p,
ul,
li,
input {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
}
input {
  background-color: #262626;
  border: none;
  border-radius: 12px;
  outline: none;
  padding: 14px;
  font-size: 12px;
  width: 100%;
  height: 44px;
  line-height: 16px;
  color: #f9f9f9;
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  background-color: transparent !important;
  color: #f9f9f9 !important;
  box-shadow: none !important;
}

input:-moz-placeholder {
  background-color: transparent !important;
  color: #f9f9f9 !important;
}

input:-ms-input-placeholder {
  background-color: transparent !important;
  color: #f9f9f9 !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #262626 inset !important;
  -webkit-text-fill-color: #f9f9f9 !important;
  border: 1px solid #262626 !important;
}
input:hover {
  border: 1px solid #f9f9f91a;
}

a {
  color: #686868;
  font-size: 12px;
}
button {
  border-radius: 30px;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  font-family: inherit;
  background-color: #f9f9f9;
  color: #1f1f1f;
  cursor: pointer;
  transition: border-color 0.25s;
  max-width: 140px;
  height: 42px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
    line-height: 60px;
  }
}
